from config import DevelopmentConfig


class LocalConfig(DevelopmentConfig):
    DEBUG = True
    SQLALCHEMY_DATABASE_URI = os.environ.get('DEV_DATABASE_URL') or \
                              'sqlite:///dev.sqlite'
                              #'mysql+pymysql://root:123456@10.140.1.17/iot?charset=utf8'