  <script src="static/jquery-3.2.1.js"></script>
  <script src="static/loader.js"></script>

  <script type="text/javascript">
google.charts.load('current', {
  packages: ['corechart', 'line']
});
google.charts.load('current', {
  'packages': ['gauge']
});
google.charts.setOnLoadCallback(draw_chart);
google.charts.setOnLoadCallback(draw_Gauge);

function draw_chart() {
  $.ajax({
      url: "/api/measurements/",
      data: {
        dev_id: 1
      },
      type: "GET",
      beforeSend: function(xhr) {
        xhr.setRequestHeader('Authorization', 'Basic ' + btoa('jefli:123456'));
      },
      dataType: "json",
    })
    .done(function(jsonData) {
      console.log(jsonData);
      var row, date, data = new google.visualization.DataTable();
      data.addColumn('date', 'Date');
      data.addColumn('number', 'c1');
      data.addColumn('number', 'c2');

      for (var i = 1; i < jsonData.length; i++) {
        row = jsonData[i];
        data.addRow([
          new Date(row['start_time']),
          parseFloat(row['c1']),
          parseFloat(row['c2'])
        ]);
      }


      var options = {
        hAxis: {
          title: 'Time',
          textStyle: {
            color: '#01579b',
            fontSize: 20,
            fontName: 'Arial',
            bold: true,
            italic: true
          },
          titleTextStyle: {
            color: '#01579b',
            fontSize: 16,
            fontName: 'Arial',
            bold: false,
            italic: true
          }
        },
        vAxis: {
          title: 'Popularity',
          textStyle: {
            color: '#1a237e',
            fontSize: 24,
            bold: true
          },
          titleTextStyle: {
            color: '#1a237e',
            fontSize: 24,
            bold: true
          }
        },
        colors: ['#a52714', '#097138']
      };
      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    })
    // Code to run if the request fails; the raw request and
    // status codes are passed to the function
    .fail(function(xhr, status, errorThrown) {
      alert("Sorry, there was a problem!");
      console.log("Error: " + errorThrown);
      console.log("Status: " + status);
      console.dir(xhr);
    })
    // Code to run regardless of success or failure;
    .always(function(xhr, status) {
        setTimeout(draw_chart, {{config['TIMER_PULL_ALL']}});
    });
} // draw_chart


function draw_Gauge() {

  $.ajax({
      url: "/api/last/",
      data: {
        dev_id: 1
      },
      type: "GET",
      beforeSend: function(xhr) {
        xhr.setRequestHeader('Authorization', 'Basic ' + btoa('jefli:123456'));
      },
      dataType: "json",
    }).done(function(jsonData) {

      var data = new google.visualization.DataTable();
      data.addColumn('number', 'c1');
      data.addColumn('number', 'c2');
      data.addColumn('number', 'c3');
      data.addRow([parseFloat(jsonData['c1']),
        parseFloat(jsonData['c2']),
        parseFloat(jsonData['c3'])
      ]);


      var options = {
        width: 400,
        height: 120,
        redFrom: 90,
        redTo: 100,
        yellowFrom: 75,
        yellowTo: 90,
        minorTicks: 5
      };

      var chart = new google.visualization.Gauge(document.getElementById('gauge_div'));
      chart.draw(data, options);

    }) // end done
    // Code to run regardless of success or failure;
    .always(function(xhr, status) {
        setTimeout(draw_Gauge, {{config['TIMER_PULL_LAST']}});
    }) // end always
} // end draw_Gauge


</script>


  <div id="chart_div"></div>
  <div id="gauge_div"></div>
  <p> timer_last = {{config['TIMER_PULL_LAST']}} </p>